
#nav-bar {
    font
}
#history-box {
    z-index: 1;
}
/* #user-loca-box{
    width: 25rem;
    height: 13rem;
    float: left;
    background-color: black;
    color: white;
    padding: 3rem;
} */

/* #user-city-submit {
    
}

#user-history {
    padding: 3rem;
}



/* #next-five-days {
    margin-left: auto;
    width: 90%;
        background-color: black;
        color: white;
        padding: 3rem;
} */ 
li {
    list-style: none;
    padding: 0.7rem;
} 